
<!DOCTYPE html>
<html>
<head>
<title>SMS Based Polling System</title>
<link href="/static/login/css/style.css" rel='stylesheet' type='text/css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Flat Tab Listed Forms ,Login Forms,Sign up Forms,Registration Forms,News latter Forms,Elements"/>
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="/static/login/css/bootstrap.css" rel="stylesheet">
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Raleway:400,200,300,500,600,800,700,900' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Philosopher:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!--//webfonts-->
<script type="text/javascript" src="/static/login/js/jquery.min.js"></script>


</head>
<body>
	<h1>Welcome</h1>
<div class="infom">
					<div id="verticalTab" class="resp-vtabs" style="display: block; width: 100%; margin: 0px;"><!-- start vertical Tabs-->
						<ul class="resp-tabs-list">
							<li class="resp-tab-item"><span><img src="/static/login/images/user.png" alt="" /> </span></li>
							<li class="resp-tab-item"><span><img src="/static/login/images/register.png" alt=""/> </span></li>
							<!--<li class="resp-tab-item"><span><img src="/static/login/images/recover.png" alt=""/> </span></li>-->
							<li class="resp-tab-item"><span><img src="/static/login/images/password.png" alt=""/> </span></li>
							<li class="resp-tab-item"><span><img src="/static/login/images/contact.png" alt=""/> </span></li>
						</ul>
						<div class="resp-tabs-container">
							<span class="resp-arrow"></span><i class="icon_1"></i>
							<div class="new_posts resp-tab-content">
								<div class="contact-form">
											<div class="contact-text1"><h2>Members Login Form</h2>
												<form id="register_form" action="/auth/login-check/" method="post">
													<input name="email2" type="text" class="user" value="Your Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Email';}">
													<input name="pswd2"  type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
												{{ error }}
													<div class="submit">
											            <input type="submit" value="Login" formaction="/auth/login-check/">
										            </div>
										            	<div class="login-check">
								 			 <label class="checkbox"><input type="checkbox" name="checkbox" checked="" value="1"><i> </i> Remember Me</label>
								 		  </div>
												</form>
											</div>



								</div>
							</div>
							<span class="resp-arrow"></span><i class="icon_2"></i>
							<div class="new_posts resp-tab-content">
								<div class="contact-form1">
											<div class="contact-text2"><h3>Register</h3>
												<form action="/auth/signup/" method="post">
												    {% csrf_token %}

												    <input placeholder="First Name" type="text" required="" name="fname">
												    <input placeholder="Last Name"  type="text" required="" name="lname">
												    <input placeholder="Email" class="mail" type="text" required="" name="email">
													<input placeholder="Password" id="password" class="lock" type="password" required="" name="pswd">
													<input placeholder="Confirm Password" id="password_again" class="lock" type="password" required="" name="cnfm_pswd">
													<input type="submit" value="Register" formaction="/auth/signup/">

												</form>
											</div>

										<!--<div class="login-check">
								 			 <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i>I Accept Terms & Conditions</label>
								 		  </div>-->
								</div>
							</div>
							<!--<span class="resp-arrow"></span><i class="icon_3"></i>
							<div class="new_posts resp-tab-content">
								<div class="contact-form2">
											<div class="contact-text3"><h3>Recover ID</h3>
												<form>
													 <input type="text" class="mail" placeholder="Enter Your Email" required="">
													 <input type="text" class="phn" placeholder="Enter Your Phone number" required="">
												 </form>
											 </div>
										<div class="submit3">
											<input type="submit" value="Get Code">
										</div>
								</div>
							</div>-->
							<span class="resp-arrow"></span><i class="icon_4"></i>
							<div class="new_posts resp-tab-content">
								<div class="contact-form3">
											<div class="contact-text4"><h3>Recover Password</h3>
												<form method="post" action="/auth/recoverpswd/">
													<input type="text" class="user" value="Your Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}" name="pname">
													<input type="text" class="email Address" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}" name="pmail">
										            <div class="submit">
											            <input type="submit" value="Recover">
										            </div>
												</form>
											</div>

								</div>
							</div>
							  <span class="resp-arrow"></span><i class="icon_4"></i>
							  <div class="new_posts resp-tab-content">
								<div class="contact-form4">
											<div class="contact-text5"><h3>Contact Us</h3>
												<form action="/auth/contact-us/" method="post">
													<input type="text" name="cname" class="user" value="Your Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Name';}">
													<input type="text" name="cmail" class="email Address" value="Email Address" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email Address';}">
												    <textarea name="message" class="text" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Message';}"> Your Message </textarea>
											        <div class="submit5">
            											<input type="submit" value="Send">
										            </div>
												</form>
											</div>

								</div>
						</div>
						<div class="clear"></div>
					</div>
					<script src="/static/login/js/easyResponsiveTabs.js"></script>
						<script type="text/javascript">
							$(document).ready(function () {
								$('#horizontalTab').easyResponsiveTabs({
									type: 'default', //Types: default, vertical, accordion
									width: 'auto', //auto or any width like 600px
									fit: true,   // 100% fit in a container
									closed: 'accordion', // Start closed if in accordion view
									activate: function(event) { // Callback function if tab is switched
										var $tab = $(this);
										var $info = $('#tabInfo');
										var $name = $('span', $info);

										$name.text($tab.text());

										$info.show();
									}
								});

								$('#verticalTab').easyResponsiveTabs({
									type: 'vertical',
									width: 'auto',
									fit: true
								});
							});
						</script>
	</div>
	<div class="clearfix"> </div>
</div>
<!--start-copyright-->
   	<div class="copy-right">
		<p>&copy; 2015 SMS Based Polling System/ All Rights Reserved | Design by <a href="http://kedarkulkarni.in/">Kedar Kulkarni</a>,Gazal Chawla, Praveen Surenani</p>
</div>
	<!--//end-copyright-->
</body>
</html>